<div class="gadget" style="width:calc(100% - 15px);">
  <div class="gadget-header"><%- controller %> <%- action %><span style="float: right;"></span>
  </div>
  <div class="gadget-body" id="app-list" style="height:auto;">
    TBD
  </div>
</div>
